@{
    ViewData["Title"] = "Privacy information";
    ViewData["Name"] = "Kenzo Silva";
    ViewData["Professor"] = "Nelio Alves";
}
<h1>@ViewData["Title"]</h1>
Student <strong>@ViewData["Name"]</strong>
<p>Teacher <strong>@ViewData["Professor"]</strong></p>

<p>Use this page to detail about your site.</p>
zima@gmail.com
<p>Nelio@gmail.com</p>


